{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": false,
  "printWidth": 120,
  "tabWidth": 4,
  "useTabs": false,
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2,
        "bracketSpacing": true,
        "bracketSameLine": false,
        "printWidth": 40
      }
    },
    {
      "files": "*.yml",
      "options": {
        "tabWidth": 2,
        "bracketSpacing": true,
        "bracketSameLine": false
      }
    },
    {
      "files": "*.scss",
      "options": {
        "tabWidth": 2,
        "bracketSpacing": true,
        "bracketSameLine": true,
        "printWidth": 80
      }
    }
  ]
}
